<div class="product-grid-item card">
    <div class="product-grid-item-top">     
        <div>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{dishBase.category}}</span>
        </div>
        <span [class]="'product-badge status-' + dishBase.inventoryStatus.toLowerCase()">{{dishBase.inventoryStatus}}</span>
    </div>

    <div class="product-grid-item-content">
        <img [src]="dishBase.image" [alt]="dishBase.name">
        <div class="product-name">{{dishBase.name}}</div>
        <p-rating [(ngModel)]="dishBase.rating" [readonly]="true" [cancel]="false"></p-rating>
    </div>
    
    <div class="product-grid-item-bottom">
        <div class="product-name" [ngSwitch]="dishBase.spiciness">
            <span [ngClass]="setSpicinessClass(dishBase.spiciness)" *ngSwitchCase="0">No pica</span>
            <span [ngClass]="setSpicinessClass(dishBase.spiciness)" *ngSwitchCase="1">Pica poco</span>
            <span [ngClass]="setSpicinessClass(dishBase.spiciness)" *ngSwitchCase="2">Pica</span>
            <span [ngClass]="setSpicinessClass(dishBase.spiciness)" *ngSwitchCase="3">Pica mucho</span>
            <span [ngClass]="setSpicinessClass(dishBase.spiciness)" *ngSwitchCase="4">Infierno xD</span>
            <span *ngSwitchDefault>No hay registro de picor</span>
        </div>
    </div>
    <div class="product-grid-item-bottom">
        <span class="product-price">{{dishBase.price | currency: 'S/.'}}</span>
        <p-button icon="pi pi-shopping-cart" label="Agregar" [disabled]="dishBase.inventoryStatus === 'OUTOFSTOCK'" (click)="addDish()"></p-button>
    </div>
</div>