<h1>ESCOJA SU MENÚ</h1>
<p *ngIf="precioTotal>0">El precio total de la carta seleccionada es {{precioTotal}}</p>


<button (click)="send()" type="button">ENVIAR</button>

<p-panel *ngIf="cartList.length>0" header="Lista de platos agregados" [toggleable]="true">
    <p-table styleClass="p-datatable-gridlines p-datatable-striped" [value]="cartList" [scrollable]="true" scrollHeight="200px">
        <ng-template pTemplate="header">
            <tr>
              <th>Plato</th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-idish>
            <tr>
                <td>{{idish | dish}}</td>
                <td><button pButton type="button" (click)="removeDish(idish)" icon="pi pi-arrow-circle-down"></button></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<br/>

<div class="p-dataview p-component p-dataview-grid">
    <div class="p-dataview-content">
        <div class="p-grid">
            
                <ng-container *ngFor="let dish of dishList">
                    <div *ngIf="dish.inventoryStatus!='OUTOFSTOCK'"  class="p-col-12 p-md-4 p-lg-4"><!--[appBoxShadow]="true"-->
                        <app-dish [dishBase]="dish" (onChangeEvent)="updateMenu($event)"></app-dish>
                    </div>
                </ng-container>

        </div>
    </div>
</div>